*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    margin: 0;
    padding: 0;
}
.overlay{
    height: 100%;
    width: 100vw;
    background-color: rgba(0,0,0,0.4);
    position: fixed;
    top:0;
    left:0;
    z-index: 0;
}

body{
    background-image: url('./water.jpg');
    padding: 10px 10vw;
    background-repeat: no-repeat;
    background-size: cover;
    backdrop-filter: blur(4px);
}

header, footer{
    display: flex;
    background-color: rgba(0,0,0,0.6);
    height: 10vh;
    justify-content: center;
    align-items: center;
    position:relative;
    z-index: 10;
    color:white
}

main{
    display: flex;
    justify-content: center;
    position: relative;
    z-index: 10;
    margin: 10px 0;
}

.main-content{
    background-color: rgba(0,0,0,0.6);
    width: 80vw;
    padding: 20px;
}

.ship-rotation{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 10px;
}

button{
    margin-right: 20px;
    padding: 10px 50px;
    cursor: pointer;
    background: transparent;
    color:white;
    box-shadow: inset 3px 3px 10px rgba(255, 255, 255, 0.4),
                inset -3px -3px 10px rgba(17, 17, 17, 0.448),
                5px 5px 5px rgba(0,0,0,0.6);
    border:none;
    transition: ease 0.3s;
}

button:hover{
    transform: scale(1.1);
}

button:active{
    background-color: rgba(255, 255, 255, 0.4);
}

.main-battle{
    display: flex;
    justify-content: center;
}

.battle-grid{
    width: 70vh;
    height: 70vh;
    background-color: rgba(0,0,0,0.4);
    display: grid;
    grid-template-columns: repeat(11, 1fr);
    grid-template-rows: repeat(11, 1fr);
    margin-right: 10px;
}

header.letter-{
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.battle-area{
    display: flex;
}

.battle-grid div{
    background-color:transparent;
    height: 100%;
    width: 100%;
    border: 1px solid rgba(255, 255, 255, 0.2);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor:crosshair;
    transition: ease 0.3s;
}

.battle-grid div:hover{
    background-color: rgba(255, 255, 255, 0.4);
    transform: scale(1.07);
}

.battle-grid .header:hover{
    background-color: transparent;
    transform: unset;
}

.battle-grid .header{
    background-color: transparent;
    border:none;
    color: white;
    cursor:auto
}

.ship-sidebar{
    display: grid;
    grid-template-columns: 1fr;
    flex-direction: column;
    justify-content: space-between;
    gap: 10px;
}

.ships{
    background-color: aqua;
    border: 1px solid black;    
    cursor: move;
}

