:root {
    --background: #0a1219;
    --foreground: #eff3f5;
    --card: #111d27;

    --primary-teal: #23b5c3;
    --secondary: #1c2d3d;
    --accent: #e85a32;

    --muted: #212f3d;
    --muted-foreground: #8a9ba3;
    --border: #2d3e4d;

    --ocean-deep: #071017;
    --ocean-dark: #0f1c26;
    --ocean-mid: #1c3847;
    --ocean-surface: #248a9e;
    --ocean-foam: #cde0e4;

    --naval-gold: #e6b31a;
    --miss-splash: #3a8fac;
    --ship-hull: #3d4a57;

    --destructive: #df2020;
}

@font-face{
    font-family: 'Archivo';
    src: url('fonts/ArchivoBlack-Regular.ttf');
    font-style: normal;
}

@font-face{
    font-family: 'Raleway';
    src: url('fonts/Raleway-VariableFont_wght.ttf');
    font-style: normal;
}

html{
    background-color: var(--background);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*Main Game*/

.title{
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-game,
.ship-placement{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: 
        repeating-linear-gradient(var(--border) 0 1px , transparent 1px 100%),
        repeating-linear-gradient(90deg , var(--border) 0 1px , transparent 1px 100%);
    background-size: 45px 45px;
    padding-top: 50px;
    padding-bottom: 50px;
    
}

.main-game h2,
.ship-placement h2{
    font-family: 'Archivo';
    font-size: 4em;
    color: var(--foreground);
    margin: 0px 20px;
}

.main-game h4,
.ship-placement h4{
    font-family: 'Raleway';
    font-size: 1.4em;
    font-weight: normal;
    color: var(--muted-foreground);
}

.game-details{
    margin: 20px;
    display: flex;
}

.game-details p{
    color: var(--foreground);
    font-family: 'Raleway';
    font-size: 1em;
    font-weight: bold;
    margin-right: 20px;
    background-color: var(--ocean-mid);
    padding: 10px 25px;
    border-radius: 5px;
}

.game-details button{
    background-color: var(--background);
    color: var(--foreground);
    padding: 10px 13px;
    font-size: 1.1em;
    border: 1px solid var(--border);
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s ease-in-out;
}

.game-details button:hover{
    background-color:#3a90ac77;
    border: 1px solid var(--primary-teal);
    color: var(--primary-teal);
    box-shadow: 0 0 5px var(--primary-teal);
}

/*Game grid*/

.grid-container{
    display: flex;
    gap: 40px;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}

.player-one-grid,
.player-two-grid{
    background-color: var(--ocean-dark);
    border: 2px solid var(--ocean-mid);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    z-index: 1;
}

.player-one-grid h3,
.player-two-grid h3{
    font-family: 'Archivo';
    font-size: 2em;
    color: var(--primary-teal);
}

.game-grid{
    display: grid;
    grid-template-columns: repeat(11 , 1fr);
    padding: 20px;
}

.game-grid div{
    background-color: var(--ocean-mid);
    width: 50px;
    height: 50px;
    background-image: linear-gradient(150deg , var(--ocean-mid) 20% , var(--ocean-dark) 100%);
    position: relative;
    overflow: hidden;
}

@keyframes wave-diagonal {
    0% {
        transform: translate(-15%, 15%);
    }
    50% {
        transform: translate(15%, -15%);
    }
    100% {
        transform: translate(-15%, 15%);
    }
}

.game-grid div:not(.game-header){
    border: 0.1px solid var(--border)
}

.game-grid div:not(.game-header)::before{
    position: absolute;
    content: '';
    inset: -50%;
    background-image: linear-gradient(
        45deg,
        transparent 40%,
        #1c384761 50%,
        transparent 60%
    );
    animation: wave-diagonal 5s linear infinite;
}

.game-grid div:hover{
    cursor: crosshair;
}

.game-grid .game-header{
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: none;
    background: transparent;
}

.game-grid .game-header:hover{
    cursor: auto;
}

.game-grid .game-header p{
    font-size: 1em;
    font-family: 'Raleway';
    font-weight: 600;
    color: var(--muted-foreground)
}

@property --angle{
    syntax: "<angle>";
    initial-value: 0deg;
    inherits: false;
}

@keyframes spin{
    from{
        --angle: 0deg;
    }
    to{
        --angle: 360deg;
    }
}

.active{
    position: relative;
    z-index: 0;
}

.active::before,
.active::after{
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
    padding: 1px;
    border-radius: 10px;
    background-image: conic-gradient(
        from var(--angle),
        #23b5c3 0% 25%,
        transparent 25% 50%,
        #23b5c3 50% 75%,
        transparent 75% 100%
    );  
    animation: spin 5s linear infinite;
}

.active::before{
    padding: 4px;
    filter: blur(10px);
}

/* Ship Details */

.player-one-ships-detail,
.player-two-ships-detail{
    margin-top: 40px;
    background-color: var(--ocean-dark);
    border-radius: 10px;
    padding: 20px;
    border: 2px solid var(--border);
    h3{
        color: var(--primary-teal);
        font-size: 1.5em;
        font-family: 'Archivo';
        margin-bottom: 20px;
    }
}

.ship-list div{
    padding: 10px;
    background-color: var(--secondary);
    display: flex;
    gap: 10px;
    align-items: center;
    margin-top: 10px;
    border-radius: 10px;

    p{
        font-size: 1em;
        font-family: 'Raleway';
        font-weight: 600;
        color: var(--foreground);
    }
}

/*Placing Ships Screen*/
.place-ship-wrapper{
    display: flex;
    gap: 30px;
}

.ship-sidebar{
    display: flex;
    flex-direction: column;
    align-items: stretch;
    background-color: var(--ocean-dark);
    border-radius: 10px;
    padding: 20px;
    border: 2px solid var(--border);
    h2{
        color: var(--primary-teal);
        font-size: 1.5em;
        font-family: 'Archivo';
        margin: 0;
    }
}

.ship-title{
    display: flex;
    gap: 10px;
}

.ships{
    padding: 10px 15px;
    background-color: var(--secondary);
    display: flex;
    gap: 10px;
    align-items: center;
    margin-top: 20px;
    border-radius: 10px;
    border: 1px solid var(--border);
    transition: 0.3s ease-in-out;
    cursor: pointer;

    h3{
        font-size: 1em;
        font-family: 'Raleway';
        font-weight: 600;
        color: var(--foreground);
        margin-bottom: 10px;
    }
}

.ships:hover{
    background-color: var(--ocean-mid);
    border: 1px solid var(--ocean-surface);
}
.ship-health{
    display: flex;
    gap: 5px;
}

.health-cell{
    width: 20px;
    height: 20px;
    background-color: var(--ship-hull);
    border: 1px solid var(--naval-gold);
    border-radius: 5px;
}

.ship-orientation,
.auto-deploy,
.begin-game{
    cursor: pointer;
    font-size: 1em;
    padding: 5px;
    font-family: 'Raleway';
    font-weight: 600;
    border-radius: 7px;
    margin-bottom: 10px;
    color: var(--foreground);
    transition: color 0.3s ease-in-out, background-color 0.3s ease-in-out , border 0.3s ease-in-out;
}

.ship-orientation{
    margin-top: 20px;
    border: 1.5px solid var(--muted);
    background-color: var(--ocean-deep);
}
.auto-deploy{
    background-color: var(--ocean-mid);
    border: 1.5px solid var(--ship-hull);
}
.begin-game{
    background-color: var(--ocean-surface);
    border: 1.5px solid var(--primary-teal)
}

.ship-orientation:hover,
.auto-deploy:hover,
.begin-game:hover{
    color: var(--ocean-deep);
    border: 1.5px solid var(--destructive);
    background-color: var(--accent);
}